<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code.pragati">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pragati">
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".ui.upload.IdeaDetails"
            android:exported="false" />
        <activity
            android:name=".ui.upload.FounderDetails"
            android:exported="false" />
        <activity
            android:name=".ui.upload.UploadPitchFinal"
            android:exported="false" />
        <activity
            android:name=".ui.upload.ApplicantDetails"
            android:exported="false" />
        <activity
            android:name=".ui.upload.UploadYourPitch"
            android:exported="false" />
        <activity
            android:name=".ui.login.ForgotPass"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.SignupAngels"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.SignupFellow2"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.SignupStartupFellow"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.SignupVC"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.SignupEntrepreneur"
            android:exported="false" />
        <activity
            android:name=".FellowCredentials"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.SignupStudent"
            android:exported="false" />
        <activity
            android:name=".ChatInside"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.WhoAreYou"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.UploadPitch"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.ProblemStatementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.Invest"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginOthers"
            android:exported="false" />
        <activity
            android:name=".ContactUs"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.OTPVerification"
            android:exported="false" />
        <activity
            android:name=".ui.signUp.LoginLayman"
            android:exported="false" />
        <activity
            android:name=".ui.intro.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>